body{
    font:medium;
}
.navbar{
    display: flex;
    float: right;
}
.logo{
    font-size: 25px;
    padding-top: 10px;
    float: left;
    font-style: italic;
    color:white;
}
.navbar ul{
    display: flex;
}
.navbar li{
    list-style: none;
    padding-right: 50px;
    color: white;
}
.img2{
    background-color: #ff1493;
}
.sub1{
    border-radius: 5px;
    background-color: turquoise;
    height: 50px;
    color: white;
    border-style:hidden;
}
.sub2{
    border-radius: 5px;
    background-color:turquoise ;
    height: 40px;
    color: white;
    border-style:hidden;
    margin: 10px;
    width:200px;
}
.p1{
    font-size: 70px;
    text-align: center;
    padding-top: 80px;
    float: left;
    width: 100%;
    color: white;
    /* border-style: solid; */
    /* border-color: violet; */
    padding-bottom: 100px;
}
/* .toon{
    display:flex; */
}
.btns{
    display: block;
    padding-left: 550px;
    /* border-style: solid;
    border-color: violet; */
    /* height: 400px; */
    padding-bottom: 150px;
}
.edittext1{
    font-size: 20px;
    text-align: center;
}
.q1{
    padding: 50px;
    margin: 30px;
    box-shadow: thistle 0px 5px 5px 5px;
    height: 200px;
    border-radius: 20px;
}
.qi li{
    list-style: none;
    justify-content: space-around;
}
.query{
    font-size: 30px;
}