.navbar{
    display: flex;
    float: right;
    padding: 20px;
}
.logo{
    font-size: 25px;
    padding-top: 10px;
    float: left;
    font-style: italic;
    color:white;
    padding: 20px;
}
.navbar ul{
    display: flex;
}
.navbar li{
    list-style: none;
    padding-right: 50px;
    color: white;
}
#img2{
    background-image: url(cul.jpg);
    background-size: 100%;
    padding-top: 20px;
}
#sub1{
    border-radius: 5px;
    background-color: turquoise;
    height: 50px;
    color: white;
    border-style:hidden;
}
#sub2{
    border-radius: 5px;
    background-color:turquoise ;
    height: 40px;
    color: white;
    border-style:hidden;
    margin: 10px;
    width:200px;
}
#p1{
    font-size: 70px;
    text-align: center;
    padding-top: 10px;
    float: left;
    width: 100%;
    color: white;
    padding-bottom: 100px;
}
#btns{
    display: block;
    padding-left: 500px;
    padding-bottom: 100px;
}
#q1{
    border-radius: 10px;
    justify-content: space-evenly;
    padding: 100px;
    padding-left: 250px;
    margin:80px;
    background-color:turquoise;;
    color: white;
    font-size: 19px;
}
.edittext{
    font-size: 18px;
   
}
.edittext1{
    font-size: 30px;
    margin-left: 400px;
}
.edittext2{
    font-size: 35px;
    padding-left:550px;
    color: turquoise;
}
.button{
    border-radius: 10px;
    width:300px;
    height: 50px;
    background-color: turquoise;
    margin-left: 400px;
    border-style: hidden;
    color: white;
}
#score2{
    font-size: 30px;
    margin-left: 400px;
}